  <div layout="column" layout-align="start center">
  <h1 class="md-display-3">Redid.IT</h1>
  </div>

  <div ng-controller="HomeCtrl" layout="column" layout-padding ng-cloak>
    <br/>
  <md-content class="md-no-momentum">
    <md-input-container class="md-block">
      <label>Enter Avatar Image URL</label>
      <input ng-model="avatarUrl">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Enter Card Title</label>
      <input ng-model="title">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Enter Sub Title</label>
      <input ng-model="subHead">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Enter Image URL</label>
      <input ng-model="cardImage">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Enter Picture Title</label>
      <input ng-model="headLine">
    </md-input-container>
    <md-input-container class="md-block">
      <label>Enter Picture Description</label>
      <input ng-model="description">
    </md-input-container>
    <md-button type="button" ng-click="Showme()">Save Post</md-button>
  </div>

  <!-- user cards -->
<div layout="row" layout-align="space-around start">
  <div ng-repeat="item in fbDataList">
  <md-card class="md-card">
    <md-card-header>
      <md-card-avatar>
        <img class="md-user-avatar" ng-src="{{item.avatar}}">
        <!-- https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSk8YWw6cFwFTIwi9VC6PP2kaU5eQXpcgBRJtyko5O8I1ccGN5RIw
        <!-- https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQWvR2-JQYKlBdf1eVOJQPj2-dqNC-tWIrU3o0ToFw68wmQMRCUiQ -->
      </md-card-avatar>
      <md-card-header-text>
        <span class="md-title">{{item.title}}</span>
        <span class="md-subhead">{{item.subHead}}</span>
      </md-card-header-text>
    </md-card-header>
    <img ng-src="{{item.cardImage}}" class="md-card-image" alt="image caption">
    <md-card-title>
      <md-card-title-text>
        <span class="md-headline">{{item.headLine}}</span>
        <span class="md-description">{{item.description}}</span>
      </md-card-title-text>
    </md-card-title>
    <md-card-actions layout="row" layout-align="start center">
      
      <md-button ng-click="count = count - 1" class="uvote">Down Vote</md-button>
      count: {{count}}
      <md-button ng-click="count = count+1" ng-init="count=0" class="dvote">Up Vote</md-button>
    </md-card-actions>
    <!-- <md-card-content>
      <p>
       Card content
      </p>
    </md-card-content> -->
  </md-card>
   </div>
</div>