/*nav bar highlight color*/
.md-accent{
  /*padding: 50px;
  margin: 20px;*/
  color: #455A64 !important;
}
md-nav-bar md-nav-ink-bar{
  color:  #18FFFF;
  background-color: #FFAB40;
}

.pin {
  padding-left: 15em;
  padding-right: 15em;
}

.pinHeading {
  text-align: center;
  font-weight: lighter;
}

.uvote {
    color: red;
}
.dvote {
    color: green;
}

.md-card-image {
    max-height: 200px;
    max-width: 400px;
}
.md-card {
    max-width: 100%;
    max-height: 500px;
}